
.duck {
  user-select: none;
  cursor: grab;
  transition: transform 0.2s ease, opacity 0.1s ease;
  width: 7.6svh;
  max-width: 7.6svh;
  height: 8.3svh;
  max-height: 8.3svh;

  display: flex;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-image: url('../assets/duck.svg');
  z-index: 1;
  top: unset;   
  left: unset;
}

.duck:active {
  cursor: grabbing;
  background-image: url('../assets/duck-fly.svg');
}

.duck-letter {
  position: relative;
  height: 100%;
  width: 100%;
  padding-left: 2svh;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: "Arvo", serif;
  font-style: normal;
  font-size: 4svh;

  -webkit-mask-image: url('../assets/duck.svg');
  mask-image: url('../assets/duck.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.centered {
  color: white; 
}

.duck-container {
  display: inline-block;
  position: absolute;
  width: 7.6svh;
  max-width: 7.6svh;
  height: 8.3svh;
  max-height: 8.3svh;
  transform: translate(-50%, -50%);
  border: 0.5px solid blue;
}


.mask {
  display: none;
}

.vanilla-flap {
  animation: vanilla-flap 0.2s steps(1) infinite;
}

.flap {
  animation: flap 0.2s;
  will-change: contents;
}

.duck-letter.flap {
  z-index: 5;
}

.shake {
  animation: shake 0.4s steps(1) infinite;
}

@keyframes vanilla-flap {
  0% {
    background-image: url('../assets/duck.svg');
  }
  40% {
    background-image: url('../assets/duck-fly.svg');
  }
  100% {
    background-image: url('../assets/duck.svg');
  }
}

@keyframes flap {
  0% {
    background-image: url('../assets/duck.svg');
    z-index: 1;
  }
  40% {
    background-image: url('../assets/duck-fly.svg');
    transform: translateY(-2%);
    z-index: 1;
  }
  100% {
    background-image: url('../assets/duck.svg');
    z-index: 1;
  }
}

@keyframes shake {
  0% {
    background-image: url('../assets/duck.svg');
  }
  15% {
    background-image: url('../assets/duck-shake.svg');
    background-size: 94%;
  }
  100% {
    background-image: url('../assets/duck.svg');
  }
}