.login-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1svh;
    padding: 10svh;
    padding-bottom: 13svh;
    margin-bottom: 8svh;
    border-radius: 1svh;
    background-color: white;
    box-shadow: 0.2svh 0.2svh 0.5svh lightgrey;
}

.login {
    margin-top: 1.5svh;
    background-color:rgba(250, 192, 42, .76);
}

.eye {
    position: absolute;
    bottom: 58svh;
    left: 31svh;
    height: 2svh;
    opacity: 50%;
}