.duck-box {
    position: absolute;
    height: 8svh;
    width: 2.9svh;
    bottom: 18.2svh;
    left: 68.8svh;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.animated-duck {
    display: block;
    width: 95%;
    height: auto;
    transform: translateY(100%) scaleX(1); 
    transition: transform 0.5s ease;
}

.duck-box:hover .animated-duck {
    transform: translateY(7%) scaleX(-1);
}

.tractor-box {
    position: absolute;
    height: 15svh;
    width: 12svh;
    bottom: 4svh;
    left: 98svh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden; 
    z-index: 2;
}

.tractor-inner-box {
    position: relative;
    width: 85%;
    height: auto;
    transition: transform 0.5s ease;
    transform: rotate(-4deg)
}

.tractor {
    position: relative;
    height: 100%;
    margin-bottom: -5.5svh;
    margin-left: 0svh;
    z-index: 3;
}

.tractor-wheel {
    position: relative;
    height: 5.47svh;
    margin-left: 4.6svh;
    margin-bottom: -0.5svh;
    z-index: 0;
}

.tractor-box:hover .tractor-inner-box {
    animation: TractorRotate 1s ease infinite;
}

.login-scene {
    position: absolute;
    bottom: 0;
    height: 31svh;
}

.windmill-arms {
    position: absolute;
    height: 15svh;
    bottom: 17svh;
    left: 62.78svh;
    z-index: 3;
    user-select: none;
    pointer-events: none;
}

.rotating {
    animation: Rotate 15s linear infinite;
}

@keyframes TractorRotate
{0% { transform: rotate(-4deg) }
 20% { transform: rotate(-10deg) }
    100% { transform: rotate(-4deg) }
}

@keyframes Rotate
{from { transform: rotate(0deg) }
 to { transform: rotate(360deg) }
}