/* Remove this CSS and replace with Tailwind CSS classes in the JSX */
.dropdown {
    user-select: none;
    position: absolute;
    width: 45svh;
    height: 5.5svh;
    right: 2.5svh;

    background-color: #FAF9F6;
    padding: 2svh;
    padding-bottom: 0.9svh;
    padding-top: 0;
    margin-top: 2svh;

    overflow: hidden;
    transition: 0.2s ease;
    border-radius: 1svh;
    z-index: 5;
    border: none;
  }
  
  .dropdown.container {
    transform-origin: top;
    display: block;
    margin-top: 6svh;
    height: 79svh;
    max-height: 79svh;
  }
  
  .dropdown-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5svh;
  }
  .dropdown-list.open {
    display: block;
    height: 66svh;
    max-height: 66svh;
    margin-bottom: 5svh;
    margin-top: 2svh;
    background-color: #FAF9F6;
    column-count: 3;
    column-gap: 2.5svh;
    column-fill: auto;
    overflow-x: scroll;
  }
  
  .dropdown-list.open li {
    margin-bottom: 1.2svh;
    border-bottom: 1px solid white;
    overflow: hidden;
  }
  
  .dropdown-list.closed {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;

    gap: 1.5svh;
    overflow: hidden;
    height: 5.5svh;
  }
  
  .dropdown-toggle {
    position: absolute;
    cursor: pointer;
    right: 0;
    height: 5.2svh;
    padding: 2.1svh;
    padding-right: 1.8svh;
    padding-left: 20svh;
    background: linear-gradient(90deg, transparent, #FAF9F6);
    z-index: 4;
    /* border: 1px solid green; */
  }
  
  .dropdown-toggle.down {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
  }
  
  .words-found {
    padding-top: 1.5svh;
  }
  
  @media (min-width: 768px) {
    .dropdown-toggle {
      display: none;
      pointer-events: none;
    }

    .dropdown.container {
      height: 69.5svh;
      max-height: 69.5svh;
    }

    .dropdown-list.open {
      height: 59.5svh;
      max-height: 59.5svh;
    }
  }

  .dropdown-list.open::-webkit-scrollbar {
    width: 1svh;
  }

  .dropdown-list.open::-webkit-scrollbar-track {
      background: #e0e0e0; /* Background of the scrollbar track */
  }

  .dropdown-list.open::-webkit-scrollbar-thumb {
      background-color: #a0a0a0; /* Color of the scrollbar handle */
      border-radius: 2svh; /* Roundness of the scrollbar handle */
      border: 0.5svh solid #e0e0e0; /* Padding around scrollbar handle */
  }